// Variable Color's
$background: #0e1419;
$foreground: #e5e1cf;

$black: #000000;
$grey: #323232;

$red: #f07078;
$pink: #ffa3aa;

$blue: #36a3d9;
$light-blue: #68d4ff;

$cyan: #95e5cb;
$light-cyan: #c7fffc;

$gold: #e6c446;
$yellow: #fff778;

$green: #b8cc52;
$light-green: #e9fe83;

$orange: #ff8f40;
$light-orange: #ffb454;

$purple: #d2a6ff;
$light-purple: #d2a6ff;


// Global
*{
  all: unset;
}


// EWW BAR
.eww_bar{
  background: $background;
  border-radius: 10;
  margin: 5 2 5 2;
  padding: .3rem;
}

// WORKSPACES

.workspace-button {
  font-family: Courier Prime;
  font-weight: bold;
  color: $light-blue;
}

.workspace-active {
  color: $pink;
}

.top {
  margin: 2;
}

.end {
  background-color: $grey;
  border-radius: 10;  
  margin: 3;
}

.control-panel {
  background-color: $grey;
  border-radius: 10;  
  margin: 3;
  padding: 5 0 5 0;
}


.system-item {
  background-color: $grey;
  border-radius: 10;  
  margin: 3;
  padding: 5 0 5 0;
  font-size: 14;
}

.cpu-icon {
  padding-right: 0.4rem;
  color: $orange;
}
.cpu-label {
  color: $light-orange;
}

.memory-icon {
  font-size: 1.2em;
  padding-right: 0.2rem;
  color: $purple;
}
.memory-label {
  color: $light-purple;
}

.disk-icon {
  font-size: 0.9em;
  padding-right: 0.3rem;
  color: $gold;
}
.disk-label {
  color: $yellow;
}


.time {
  font-family: Courier Prime;
  font-weight: bold;
  font-size: 1.2em;

  color: $foreground;
  padding: 5px;
}

.bat{
  font-family: JetBrainsMono Nerd Font;
  font-size: 1.5em;
  color: $yellow;
}

.wifi-icon {
  font-family: JetBrainsMono Nerd Font;
  font-size: 1.5em;
  padding-right: .6rem;
  color: $light-blue;
}

.brightness-icon{
  color: $cyan;
  font-size: 1.3em;
  padding-right: .5rem;
}

.volume-icon{
  color: $green;
  font-size: 1.3em;
  padding-right: .3rem;
}

scale trough {
  background-color: $grey;
  border-radius: 5px;
  min-height: 60px;
  min-width: 10px;
  margin: .3rem 0 .3rem 0;
}

.bribar trough highlight {
  background-color: $cyan;
  border-radius: 5px;
}

.volbar trough highlight {
  background-color: $green;
  border-radius: 5px;
}


.switch-button {
  font-family: JetBrainsMono Nerd Font;
  font-size: 2em;
  padding-right: .4rem;
  color: $pink;
}


// Calendar
.cal-box {
  background-color: $background;
  font-family: Courier Prime;
  font-size: 1.35em;
  font-weight: bold;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
  color: $pink;
  background: none;
}

calendar.header {
color: $cyan;
font-weight: bold;
}

calendar.button {
color: $pink;
}

calendar.highlight {
color: $cyan;
font-weight: bold;
}

calendar:indeterminate {
color: $background;
}


// Powermenu
.powermenu {
  font-size: 1.4em;
  font-weight: bold;
}
.system {
  font-size: 1.3em;
  padding-right: .4rem;
}

.system-container {
  background-color: $background;
  border-radius: 10;
  margin: 0 3 3 3;
}

.button-bspres, .button-reb, .button-lock,
.button-quit, .button-off{
  padding: .5rem .2rem .3rem .2rem;
}
.button-off{
  color: $red;
}
.button-reb{
  color: $yellow
}
.button-quit{
  color: $green;
}
.button-lock{
  color: $blue;
}
